:root {
  font-size: 62.5%;
  --color-font: white;
  --color-header: #1D3E56;
  --color-form: #115872;
  --background-color-main: #BEE7F5;
  --color-border-cards: #00749E;
}

body {
  font-size: 1.6rem;
  font-family: 'Rubik';
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 2.5rem;
  padding: 1.4rem;
  background-color: var(--color-header);
  color: var(--color-font)
}

.cabecalho img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
}

.barra-pesquisa {
  flex: 1;
}

.barra-pesquisa label {
  width: 0.1rem;
  height: 0.1rem;
  position: absolute;
  overflow: hidden;
}

.barra-pesquisa input {
  width: 100%;
  padding: 1.6rem;
  border: 0;
  border-radius: .8rem;
  background-color: var(--color-form);
  opacity: .8;
}

.barra-pesquisa input::placeholder {
  color: white;
  font-size: 1.4rem;
}

.menu-selecao ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.0rem;
}

.cabecalho img:hover {
  transform: scale(0.8);
}

.cabecalho img {
  transition-property: transform;
  transition-duration: 1s;
}

.pagina-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5.0rem;
}

.itens-selecao ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  padding-top: 4.0rem;
}

.galeria-servicos {
  display: grid;
  grid-template-columns: repeat(4, 30.0rem);
  place-content: center;
  gap: 3.2rem;
  margin: 4.0rem 0 4.0rem;
}

.galeria-servicos img {
  width: 30.0rem;
  height: 20.0rem;
}

.galeria-servicos .cartao-item {
  background-color: #115872;
  border: 3px solid #00749E;
  border-radius: .8rem;
  overflow: hidden;
  color: var(--color-font);
}

.cartao-item h2 {
  font-size: 1.8rem;
  margin-bottom: 1.4rem 2.0rem;
  text-align: center;
  padding: 1.2rem;
  width: 30.0rem;
}

.cartao-item p {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
  padding: 1.6rem;
}

.cartao-item img:hover {
  transform: scale(1.1);
  filter: saturate(200%) hue-rotate(-2deg);
}

.cartao-item img {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

@keyframes moveHeader {
  from {
    transform: translateY(var(--moverY));
  }
}

.cabecalho {
  --moverY: -100%;
  animation-name: moveHeader;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
}

@keyframes moverCards {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  50% {
    transform: scale(1.1);
  }
}

.cartao-item {
  --delayCard: 100ms;
  animation-name: moverCards;
  animation-duration: 200ms;
  animation-delay: var(--delayCard);
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}

.rodape {
  padding: 2.0rem;
  background-color: var(--color-header);
  color: var(--color-font);
  text-align: center;
}